:root {
    --black: #ffffff;    
    --red: #e60000;     
    --green: #00a651;    
    --white: #1a1a1a;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: Arial, sans-serif;
}

.site-header {
    background-color: var(--black);
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 2px solid var(--red);
}

.logo-link {
    text-decoration: none;
}

.site-logo {
    height: 60px;
    width: auto;
    background-color: var(--red);
    padding: 5px;
    border-radius: 15px;
    display: block;
    transition: 0.3s;
}

.site-logo:hover {
    box-shadow: 0 0 15px var(--green);
}

.nav-menu {
    margin-left: auto;
}

.nav-menu a {
    color: var(--white);
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: var(--green);
}

.main-content {
    padding: 50px;
}

.btn {
    background-color: var(--red);
    color: var(--white);
    border: 2px solid var(--green);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background-color: var(--green);
    border-color: var(--red);
}

.site-footer {
    background-color: #f2f2f2; /* Светло-серый фон подвала */
    padding: 20px;
    text-align: center;
    border-top: 1px solid var(--green); /* Оставляем зеленую линию */
    color: var(--white); /* Темный текст */
}